*{
    margin:0;
    padding: 0;
}
body{
    height: 100%;
}
.root{
    height: 100%;
}
.outer{
   height: 100%;
}
.contents{
   
    
}
//布局
.accountinfo{
    float: left;
    position: fixed;
    height: 30px;
    background-color: lightgray;
    width: 100%;
    text-align: center;
    z-index: 4;
}
.div1::before{
    content: '';
    display: table;
}
.div2::before{
    content: '';
    display: table;
}
.div3::before{
    content: '';
    display: table;
}
.footer{
    height: 60px;
    background-color: lightskyblue;
    text-align: center;
}




//导航条
.divlayout{  //导航条
    float: right;
    position: relative;
    height: 200px;
    width: 50px;
    right:10px;
    background-color: lightcoral;
}
.nav{
    list-style: none;
    background-color:transparent;
    height: 100%;
    margin-bottom: 0;
}
ul::before{
    content: '';
    display: table;
 }
ul>li{
    
    margin:auto 0;
    text-align: center;
    height: 33.3%;
    
}
.nav a{
    display: block;
    height: 100%;
    padding: 36px 0;
    text-decoration: none;
    color: white;
    font-weight:bold ;

}
.nav a:hover{
    background-color:rgb(62, 138, 201);
    box-shadow: 10px 10px 30px #bbb;

}

.divlayout{
    position: fixed;
    right: 35px;
    top:27%;
    height: 300px;
    width: 120px;
    z-index: 4;
    box-shadow: 10px 10px 30px #bbb;
    background-color: rgba(129, 236, 236,1.0);
}
.layout-upload{
  

    height: 150px;
    width: 150px;
}
.layout-myfile{
  

    height: 150px;
    width: 150px;
}
.layout-verify{
    
    height: 150px;
    width: 150px;
}

//导航条结束

.file{
    border: lightskyblue;
}
.file:hover{
    border: rgb(44, 110, 151);
}