.upload{
    border: solid;
    height: 100%;
}
.outbox{
    position: relative;
    height: 60%;
    top: 100px;
}
.select1{

    position: relative;
    height: 40%;
    width: 50%;
   
}
.select2{
   position: relative;
  
}
.displ{
   position: relative;
    width: 50%;
    height: 40%;
    margin:auto ;

}
.img{
    position: relative;
    height:100%;
    width:100%
    //background-image: url(../../../image/background.jpg);
    
}
.out{
    border: solid;
}
.uploadtable{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    border-collapse: collapse;
}
.uploadtable::before,.uploadtable::after{
    content:'';
    display: table;
    clear: both;
}
.td1{
  
    height: 60px;
    vertical-align: middle;
}

.td2{
    width: 60%;

}
tbody{
    height: 100%;
}