.upload{
   
  height: 90%;
}
.uploadself{
    height: 610px;
}
.other{
    height: 1000px;
    position: relative;
    top:20px;
}
.outbox{
    position: relative;
    height: 60%;
    top: 100px;
}
.select1{

    position: relative;
    height: 50%;
    
    top:80px;
   
}
.select2{
   position: relative;

   width: 60%;
   height: 90%;
   background-color: rgba(41, 128, 185,1.0);
   box-shadow: 20px 20px 50px #bbb;
   border-radius: 20px;
}
.displ{
    position: relative;
    width: 70%;
    top:70px;
    left:10px;
}
.img{
    position: absolute;
    height: 80%;
    width:100%
}
.out{
    border: solid;
}
.uploadtable{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    border-collapse: collapse;
}
.uploadtable::before,.uploadtable::after{
    content:'';
    display: table;
    clear: both;
}
.td1{
  
    height: 60px;
    vertical-align: middle;
}

.td2{
    width: 80%;

}
tbody{
    height: 100%;
}