*{
    margin:0;
    padding: 0;
}
.myfiles{
    height: 800px;
    background-color:#d35400;
}
.myfiles::before{

    content: '';
    display: table;
}
.mytable{
    width: 70%;
    position: relative;
    top:150px;
}